## 12장 2절

In [2]:
import pandas as pd
hsb2 = pd.read_csv('D:/Stat_Book/Data/hsb2.csv') # 실행시 경로 수정
hsb2.head()

,id,female,race,ses,schtyp,prog,read,write,math,science,socst,gender,race_f,ses_f,schtyp_f,prog_f
0,70,0,4,1,1,1,57,52,41,47,57,Male,White,Low,Public,General
1,121,1,4,2,1,3,68,59,53,63,61,Female,White,Middle,Public,Vocational
2,86,0,4,3,1,1,44,33,54,58,31,Male,White,High,Public,General
3,141,0,4,3,1,3,63,44,47,53,56,Male,White,High,Public,Vocational
4,172,0,4,2,1,2,47,52,57,53,61,Male,White,Middle,Public,Academic

In [3]:
from scipy import stats

# 단일 표본 T-검정
result = stats.ttest_1samp(hsb2.math, 55)
result

TtestResult(statistic=-3.5549890575193785, pvalue=0.00047222258665706484, df=199)

In [4]:
print("검정통계량 = %.4f , p-value = %.4f" % result)

검정통계량 = -3.5550 , p-value = 0.0005

In [5]:
# 쌍체 표본 T-검정
result2 = stats.ttest_rel(hsb2.math, hsb2.write)
print("검정통계량 = %.4f , p-value = %.4f" % result2)

검정통계량 = -0.2230 , p-value = 0.8237

In [6]:
# 독립인 두 집단 T-검정
dat_M = hsb2.loc[hsb2.female == 0]
dat_F = hsb2.loc[hsb2.female == 1]

df1 = len(dat_M)-1
df2 = len(dat_F)-1
F = dat_M.math.var() / dat_F.math.var()
p_value = 2*min(stats.f.cdf(F, df1, df2), 1-stats.f.cdf(F, df1, df2))
print('F-검정통계량 = ', F, ',p-value = ', p_value)

F-검정통계량 =  1.1154388982897816 ,p-value =  0.5845384992564739

In [7]:
s, p = stats.bartlett(dat_M.math, dat_F.math)
print('p-value : %.4f' % p)

p-value : 0.5888

In [8]:
result3 = stats.ttest_ind(dat_M.math, dat_F.math)
print("검정통계량 = %.4f , p-value = %.4f" % result3)

검정통계량 = 0.4130 , p-value = 0.6801

## 12장 3절

In [10]:
# 적합성 검정 
coffee = pd.read_csv('D:/Stat_Book/Data/coffee.csv') # 실행시 경로 수정
coffee.head()

  brand
0     c
1     a
2     b
3     b
4     b

In [11]:
import numpy as np

f_obs = coffee.brand.value_counts()
f_obs
f_exp = len(coffee.brand) * np.array([0.5, 0.3, 0.2])

chisq, p = stats.chisquare(f_obs, f_exp)
print('카이제곱 검정통계량: %.4f' % chisq, ', p-value : %.4f' % p)

카이제곱 검정통계량: 1.2600 , p-value : 0.5326

In [12]:
# 독립성 검정 

import numpy as np
obs = np.array([[43, 75, 118, 11], 
              [30, 231, 87, 27],
              [104, 198, 33, 64],
              [230, 130, 40, 37],
              [72, 20, 25, 18]])

chi2, p, dof, ex = stats.chi2_contingency(obs)
print('카이제곱 검정통계량: %.4f' % chi2, ', p-value : ', p)

카이제곱 검정통계량: 448.5559 , p-value :  1.9134838120869063e-88