## 16장 2절

In [1]:
import pandas as pd 

admission = pd.read_csv("D:/Stat_Book/Data/grad.csv") # 실행시 경로 수정
admission.shape
admission.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [2]:
# 회귀모형
import statsmodels.api as sm 
import statsmodels.formula.api as smf

In [3]:
model = smf.logit(formula = 'admit ~ gre + gpa + C(rank)', data=admission).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.573147
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                          Logit   Df Residuals:                      394
Method:                           MLE   Df Model:                            5
Date:                Mon, 14 Mar 2022   Pseudo R-squ.:                 0.08292
Time:                        18:27:34   Log-Likelihood:                -229.26
converged:                       True   LL-Null:                       -249.99
Covariance Type:            nonrobust   LLR p-value:                 7.578e-08
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -3.9900      1.140     -3.500      0.000      -6.224      -1.756
C(rank)[T.2]    -0.6754      0.316     -2.134      0.033      -1.296      -0.055
C(rank)[T.3]    -1.3402      0.345     -3.881      0.000      -2.017      -0.663
C(rank)[T.4]    -1.5515      0.418     -3.713      0.000      -2.370      -0.733
gre              0.0023      0.001      2.070      0.038       0.000       0.004
gpa              0.8040      0.332      2.423      0.015       0.154       1.454
================================================================================

In [4]:
model.params

Intercept      -3.989979
C(rank)[T.2]   -0.675443
C(rank)[T.3]   -1.340204
C(rank)[T.4]   -1.551464
gre             0.002264
gpa             0.804038
dtype: float64

In [5]:
import numpy as np
np.exp(model.params)

Intercept       0.018500
C(rank)[T.2]    0.508931
C(rank)[T.3]    0.261792
C(rank)[T.4]    0.211938
gre             1.002267
gpa             2.234545
dtype: float64

In [6]:
model.pred_table()

array([[254.,  19.],
       [ 97.,  30.]])